:root {
    --white: #fff;
    --pink: #e83e8c;
    --info: #17a2b8;
    --black:#212529;
 }

body {
    font-family: 'Roboto', sans-serif; 
    
}
.nav--img {
    height: 3rem;
}

.bg-pink {
    background-color: var(--pink);
}

.h1--color {
    color: #707070; 
}
.h1--weight {
    font-weight: 700; 
}
.card-title {
    font-weight: 700;
    color: #373A3C; 
}
.footer--img {
    height: 5rem;
}


